@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

/*HEADER*/
header {
    background-color: #262428;
    width: 100%;
    height: 106px;
    position: fixed;
    z-index: 99;
    top: 0;
}

.container_header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav_header {
    display: flex;
    justify-content: space-between;
    width: 792;
    /* background-color: blueviolet; */
    align-items: center;
}

.nav_header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

/* MAIN */
.banner_cadastro {
    height: 237px;
    width: 100%;
    background-image: url(../assets/background_cadastro.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 106px;
}

.box_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1562px;
    margin: 0px auto;
    height: 100%;

}

.box_conteudo_banner {
    width: 326px;
    height: 60px;
}

h1 {
    color: #fff;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

h2 {
    color: #fff;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.container_cadastro_listas {
    background-color: #1E1C21;
    width: 100%;
    height: 779px;
}

.organizar_campos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 770px;
    height: 100%;
    margin: 0px auto;
}

.campo_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 770px;
    height: 340px;
    background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    box-shadow: 1px 1px 20px 4px #000000;
}

.campo_cadastro span {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.campo_nomedaequipe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 53px;
}

.campo_emblemaequipe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 53px;
    width: 575px;
}

.box_cadastrar {
    background-color: #ABABAB;
    width: 575px;
    height: 30px;
}

.box_emblema {
    background-color: #ABABAB;
    color: #000;
    width: 146px;
    height: 30px;
}

.btn_cadastrar {
    color: #fff;
    text-transform: uppercase;
    background-color: #001F70;
    width: 257px;
    height: 40px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 19px;
    border-radius: 10px;
    border-color: #001F70;
}

.tabela_times {
    border: 2px solid #fff;
    width: 100%;
    height: 115px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.title td {
    border: 2px solid #fff;
    background-color: #000;
}

table, td {
    border-collapse: collapse;
    padding: 18px 22px;
}

footer {
    height: 337px;
    width: 100%;
    background-color: #010101;
    padding: 49px 0px;
}

.container_footer {
    display: flex;
    justify-content: space-between;
    /* background-color: tomato; */
    height: 100%;
}

.posicionar_listas {
    height: 100%;
    width: 332px;
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titulos_footer {
    display: flex;
    justify-content: space-between;
    width: 306px;
    margin-bottom: 40px;
    /* background-color: turquoise; */
}

.titulos_footer span {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.container_listas {
    display: flex;
    justify-content: space-around;
    width: 400px;
    /* background-color: teal; */
}

.links_uteis {
    padding-right: 10px;
}

.links_uteis li a {
    text-decoration: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16,02px;
    margin: 12px 0px 0 0;
}

.links_uteis li {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16,02px;
    margin: 12px 0px 0 0;
}

.paginas li a {
    text-decoration: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16,02px;
    margin: 12px 25px 0 0;
}

.paginas li {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16,02px;
    margin: 12px 25px 0 0;
}

.logo_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
    height: 100%;
    width: 490px;
}

.cadastrar {
    height: 77px;
    width: 362px;
}

.cadastrar span {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.box_cadastro {
    display: flex;
    margin-top: 10px;
}

.box_email {
    width: 204px;
    height: 34px;
}

.btn_cadastrar {
    color: #fff;
    text-transform: uppercase;
    background-color: #001F70;
    width: 151px;
    height: 34px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.redes_socias {
    display: flex;
    justify-content: space-between;
}

.redes_socias span {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.cadastro_redessociais {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 355px;
    height: 100%;
}